@{
    ViewData["Title"] = "Home Page";

    Movie jumboMovie = ViewData["Jumbo"] as Movie;
}

<div id="jumbo" class="d-flex row justify-content-center">
    <div class="col-9 align-self-center content-jumbo text-white fw-bold">
        <h2 class="card-title">@jumboMovie.Title</h2>
    </div>
    <div class="col-2 cover-image ml-5">
        <img id="jumbo-movie" src="@jumboMovie.CoverImage" alt="@jumboMovie.Title" />
    </div>
</div>