html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#jumbo {
    background-image: url('https://www.notebookcheck.it/fileadmin/Notebooks/News/_nc3/netflixteaser.png');
    background-repeat: no-repeat;
    padding: 20px;
}

.cover-image {
    height: 500px;
}

.card-title{
    line-height: 150px;
}

#jumbo-movie {
    height: inherit;
}

.content-jumbo {
    width: fit-content;
    height: 150px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}